.wrapper {
    /* padding: 20px 100px; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.wrapper h3 {
    font-size: 70px;
    line-height: 100px;
}

.image {
    z-index: 20;
    transition: .2s ease;
}

.image img {
    max-height: 200px;
}

.wallpaper {
    position: absolute;
    height: 0;
    width: 0;
    /* top: 50%;
    right: 50%;
    transform: translate(-50%, -50%); */
    background:linear-gradient(to right, #ff00ff, #0000ff);
    z-index: 1;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    border-radius: 0;
}

.wallpaper2 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* top: 50%;
    right: 50%;
    transform: translate(-50%, -50%); */
    background: #ff00ff;
    z-index: 4;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
}

.image:hover {
    opacity: 0;
}

.image:hover + img {
    max-height: 0;
    width: 100vw;
}

.image:hover + .wallpaper {
    opacity: 1;
    height: 100vh;
    width: 100vw;
}


.image:hover + .wallpaper2 {
    opacity: 1;
}


a {
    color: white;
    text-decoration: none;
    text-align: center;
}

h1 {
    font-size: 40px;
    max-width: 100%;
}